.empresa-videos
  padding-right 0px
  padding-left 0px
  background #dde5e7
.empresa-videos h2
  color #8D8C8C
  font-size 36px
.empresa-videos a.main-video
  padding-right 0px
  padding-left 0px
  margin-right 0px
  margin-bottom 15px
.empresa-videos a.main-video img
  width 100%
