.empresa-videos
  padding-right 0px
  padding-left 0px
  padding-top 39px
  background #dde5e7
  color #333 !important
.empresa-videos h2
  color #8D8C8C
  font-size 36px
.empresa-videos a.main-video
  padding-right 0px
  padding-left 0px
  margin-right 0px
  margin-bottom 15px
.empresa-videos a.main-video img
  width 100%
.colaborador-advertise-right
  height 983px
.empresas-list
  margin-top 30px
.empresa-empresas
  margin-top 30px
.empresa-imagen-text
  position absolute
  top 111px
  padding-top 10px
  padding-bottom 10px
  width 348px
  text-align center
  background-color rgba(255,255,255,0.3)
  color #FFFFFF
  font-weight: lighter;
