<main>
  <div class="container coomeva-container main-container">
    <radio playing="colabCtrl.playing"></radio>
    <div class="rest-of-page flex flex-wrap">
      <div class="col-md-10 no-padding flex">

        <div class="col-lg-12">
          <div class="col-md-12 empresas-list">



            <div class="col-md-6 empresa-empresas">
              <a ui-sref="colaborador ({colabId: 'grupo_coomeva'})" class="main-video col-xs-12 col-sm-12 col-md-12 col-lg-12" href="#">
                <img src="./assets/img/botones_colaboradores/1.jpg" alt="" class="img-responsive"/>
                <span class="empresa-imagen-text">Ingresar</span>
              </a>
            </div>

            <div class="col-md-6 empresa-empresas">
              <a ui-sref="colaborador ({colabId: 'medicina_prepagada'})" class="main-video col-xs-12 col-sm-12 col-md-12 col-lg-12" href="#">
                <img src="./assets/img/botones_colaboradores/2.jpg" alt="" class="img-responsive"/>
                <span class="empresa-imagen-text">Ingresar</span>
              </a>
            </div>
            <div class="col-md-6 empresa-empresas">
              <a ui-sref="colaborador ({colabId: 'corredores_seguros'})" class="main-video col-xs-12 col-sm-12 col-md-12 col-lg-12" href="#">
                <img src="./assets/img/botones_colaboradores/3.jpg" alt="" class="img-responsive"/>
                <span class="empresa-imagen-text">Ingresar</span>
              </a>
            </div>

            <div class="col-md-6 empresa-empresas">
              <a ui-sref="colaborador ({colabId: 'eps'})" class="main-video col-xs-12 col-sm-12 col-md-12 col-lg-12" href="#">
                <img src="./assets/img/botones_colaboradores/4.jpg" alt="" class="img-responsive"/>
                <span class="empresa-imagen-text">Ingresar</span>
              </a>
            </div>
            <div class="col-md-6 empresa-empresas">
              <a ui-sref="colaborador ({colabId: 'bancoomeva'})" class="main-video col-xs-12 col-sm-12 col-md-12 col-lg-12" href="#">
                <img src="./assets/img/botones_colaboradores/5.jpg" alt="" class="img-responsive"/>
                <span class="empresa-imagen-text">Ingresar</span>
              </a>
            </div>
            <div class="col-md-6 empresa-empresas">
              <a ui-sref="colaborador ({colabId: 'recreacion'})" class="main-video col-xs-12 col-sm-12 col-md-12 col-lg-12" href="#">
                <img src="./assets/img/botones_colaboradores/6.jpg" alt="" class="img-responsive"/>
                <span class="empresa-imagen-text">Ingresar</span>
              </a>
            </div>
          </div>




        </div>

      </div>

      <div class="col-md-2 no-padding colaborador-advertise-right flex">
        <advertiseright></advertiseright>
      </div>

    </div>
  </div>
</main>


