<main>
  <div class="container coomeva-container main-container">
    <radio></radio>
    <div class="rest-of-page flex flex-wrap">
      <div class="col-md-10 no-padding flex">

        <div class="empresa-videos col-lg-12">
          <div class="col-md-12">



            <div class="empresa-empresas">
              <a ui-sref="colaborador ({colabId: 'medicina_prepagada'})" class="main-video col-xs-12 col-sm-12 col-md-12 col-lg-12" href="#">
                <img src="http://localhost:7000/img/colaboradores/medicina_prepagada/header.png" alt="" />
              </a>
            </div>
            <div class="empresa-empresas">
              <a ui-sref="colaborador ({colabId: 'medicina_prepagada'})" class="main-video col-xs-12 col-sm-12 col-md-12 col-lg-12" href="#">
                <img src="http://localhost:7000/img/colaboradores/medicina_prepagada/header.png" alt="" />
              </a>
            </div>
          </div>
          <div class="row">

            <div class="col-lg-9">

              <div class="col-md-12">
                <div class="row rower">
                  <div class="col-md-12">
                    <h3 class="item-title title-blue">Red Coomeva MP <strong class="item-subtitle">Enero 20/2016</strong></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                  <div class="col-md-12">
                    <h3 class="item-title title-blue">Red Coomeva MP <strong class="item-subtitle">Enero 20/2016</strong></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                </div>

              </div>

            </div>

          </div>



        </div>

      </div>

      <div class="col-md-2 no-padding  flex">
        <advertiseright></advertiseright>
      </div>
      <div class="col-md-12 no-padding flex">
        <advertisebottom></advertisebottom>
      </div>
    </div>
  </div>
</main>


