<main>
  <script src="../../../bower_components/slick-carousel/slick/slick.min.js"></script>
  <link rel="stylesheet" href="../../../bower_components/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="../../../bower_components/slick-carousel/slick/slick-theme.css">
  <div class="container coomeva-container main-container">
      <radio></radio>

      <div class="rest-of-page">
        <div class="col-md-12 no-padding">

          <slick dots="true" infinite="true" speed="300" slides-to-show="1" touch-move="true" arrows="false" slides-to-scroll="1" >
            <div><img class="img-responsive" src="assets/img/images/main-banner.jpg"></div>
            <div><img class="img-responsive" src="assets/img/images/ella.png"></div>
            <div><img class="img-responsive" src="assets/img/images/main-banner.jpg"></div>
            <div><img class="img-responsive" src="assets/img/images/ella.png"></div>
          </slick>
        </div>
        <div class="col-md-6 home-podcast">
          <h2 class="cat-title">
            POD<span>CAST</span>
            <hr class="line-after-title">
          </h2>
          <div class="slickcar-container">

          <slick dots="false" infinite="false"  slides-to-show="1" touch-move="true" arrows="true" slides-to-scroll="1" >
            <div><img class="img-responsive img-center" src="http://radio.coomeva.com.co/.storage/podcast_27/thumb/cepeda.jpg">
              <div class="col-md-12">
              <h2 class="item-title">Andres Cepeda
                <span class="item-subtitle">
                  Especiales Coomeva Personajes
                </span>
              </h2>


                  <p>
                Disfrute los últimos éxitos de este cantante bogotano y sus temas de siempre.
                Nominado a los premios más famosos de la música, está de gira por las principales ciudades del país.<br><br>

                </p>
              </div>
            </div>
            <div><img class="img-responsive img-center" src="http://radio.coomeva.com.co/.storage/podcast_27/thumb/cepeda.jpg">
              <div class="col-md-12">
              <h2 class="item-title">Andres Cepeda
                <span class="item-subtitle">
                  Especiales Coomeva Personajes
                </span>
              </h2>

                <p>
                                  Adquiera sus boleta en Coomeva Recreación y Cultura, y benefíciese con los descuentos especiales de los asociados.<br><br>

                Asista a sus conciertos con Coomeva Recreación y Cultura.Informes: <a href="http://recreacionycultura.coomeva.com.co">recreacionycultura.coomeva.com.co</a>
              </p>
                </p>
              </div>
            </div>
          </slick>
          </div>
        </div>
        <div class="col-md-4">
          <h2 class="cat-title">
            INTERES
            <hr class="line-after-title">
          </h2>

          <div  ui-sref="noticia({noticeId: item.id})" class="empresa-interes-item col-xs-12 col-sm-12 col-md-12 col-md-12" ng-repeat="item in hoCtrl.listNotices | limitTo : 4">
            <div class="col-md-7 colaboradores-news-cover">
              <img src="http://radio.coomeva.com.co/.storage/noticias_1/{{item.imagen}}" alt="" class="img-responsive"/>
            </div>
            <div class="col-md-5">
              <span class="date">{{item.expira}}</span>
              <strong ng-bind-html="item.nombre" class="home-interest-name"></strong>
            </div>
          </div>
        </div>
        <div class="col-md-2 no-padding home-adverise-right">
          <advertiseright></advertiseright>
        </div>
        <div class="col-md-12 no-padding">
          <advertisebottom></advertisebottom>
        </div>
      </div>
  </div>
</main>


