<main>
  <div class="container coomeva-container main-container">
      <radio></radio>
      <div class="rest-of-page">
        <div class="col-md-12 no-padding">
          <homeslider></homeslider>
        </div>
        <div class="col-md-5 no-padding">
          <homepodcast></homepodcast>
        </div>
        <div class="col-md-5 no-padding">
          <homenews></homenews>
        </div>
        <div class="col-md-2 no-padding">
          <advertiseright></advertiseright>
        </div>
        <div class="col-md-12 no-padding">
          <advertisebottom></advertisebottom>
        </div>
      </div>
  </div>
</main>


