$maxwidth=1330px
$heigth=1193px
$restofpage=1050px
$pagecontainer=983px
.coomeva-container
  min-width $maxwidth
  width $maxwidth
  max-width $maxwidth
.no-padding
  padding 0 0 0 0 !important
.radio-zone
  height $heigth
  margin-bottom 0px !important
.no-margin
  margin 0 0 0 0 !important
.title
  color #D0D0D0
  font-weight bold !important
  padding-bottom 10px !important
  font-weight bold !important
  text-shadow none !important
.item-title
  color #D0D0D0
  font-weight bold !important
  border-bottom 1px solid gray !important
  padding-bottom 10px !important
  font-size 29px !important
  font-weight bold !important
  text-shadow none !important
.title-blue
  color #0066AC !important
.title-more
  color #A8A8A8
.item-subtitle
  display block !important
  float none !important
  width 100% !important
  font-size 17px !important
  margin-top 5px !important
  color #939292 !important
  font-style italic !important
  font-weight lighter !important
  text-shadow none !important
.title-darker
  color #8c8c8c
.no-border
  border none
.main-container
  display -webkit-flex
  display flex
  -webkit-flex-direction row
  flex-flow row wrap
.rest-of-page
  width $restofpage
.no-paddingleft
  padding-left 0px !important
.flex
  display -webkit-flex
  display -ms-flexbox
  display flex
.flex-wrap
  -webkit-flex-wrap wrap
  -ms-flex-wrap wrap
  flex-wrap wrap
.empresa-videos
  height $pagecontainer
.empresa-noticias
  height $pagecontainer
.cat-title span
  color gray
.line-after-title
  border-bottom 1px solid #808080
  border-top none
  width 61%
  position absolute
  left 36%
  top 19px
.slickcar-container
  width 100%
  padding 0 30px 0 31px
.img-center
  margin 0 auto !important
.img-fullwidth
  width 100% !important
$filler=668px;
.home-podcast
  height $filler
.home-adverise-right
  height $filler
