<link rel="stylesheet" href="assets/css/select.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

<main>

  <div class="container coomeva-container main-container">



    <div class="col-md-10 no-padding ">

      <div class="col-md-6">
        <div class="podcast-mini-player" cg-busy="{promise: pcCtrl.podcastGridPromise, message: 'Cargando podcast...'}">
          <div class="player-section">
            <div class="col-md-12">
              <div class="row">
                <img ng-src="http://radio.coomeva.com.co/.storage/podcast_27/thumb/{{pcCtrl.currentPodcast.imagen}}" alt="" />
                <div id="podcast-equalizer"></div>
                <a ng-click='pcCtrl.playPausePodcast()'>
                  <i ng-class="pcCtrl.soundPodcast=='stop' ? 'glyphicon glyphicon-play' : 'glyphicon glyphicon-pause'"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-12 no-paddingleft">


            <div class="col-md-12" style="margin-bottom:15px">
              <h4 class="item-title">{{pcCtrl.currentPodcast.titulo}}</h4>
              <div class="podcast-description">
                <p ng-bind-html="pcCtrl.currentPodcast.descripcion"></p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6 podcast">
        <div class="categories">


          <div class="col-md-12 cat-select">
          <ui-select ng-model="pcCtrl.selected.value" theme="selectize">
            <ui-select-match>
              <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (pcCtrl.listCategories | filter: $select.search)">
              <span ng-bind="item.name" ng-click="pcCtrl.podcastsList.setPodcast(item)"></span>
            </ui-select-choices>
          </ui-select>
          </div>

        </div>

        <a ng-class="podcastGridItem" ng-repeat="item in pcCtrl.currentPodcastsList track by $index" class="col-md-6 podcastGridItemContainer" ng-click="pcCtrl.podcastsList.getPodcast(item)">
            <div class="col-md-10 podcastGridItem no-padding">
            <div class="podcasts-image-conteiner">
              <img ng-src="http://radio.coomeva.com.co/.storage/podcast_27/thumb/{{item.imagen}}" alt="" class="img-responsive" />
            </div>
            <div class="podcast-information-container">
              <strong>{{item.titulo}}</strong>

            </div>
            </div>
        </a>
      </div>



    </div>

    <div class="col-md-2 no-padding">
      <advertiseright></advertiseright>
    </div>
  </div>



  </div>
  </main>
