
/*PODCAST PAGE;*/
.podcast

.podcast .podcast-grid
  transition width 1s, height 1s;
  -webkit-transition width 1s, height 1s;
  background #ECECEC;
  height 800px;
  overflow auto;
 .categories
  padding 12px 0
  text-align right
  background #ECECEC
  margin-bottom 30px
.podcast-separator
.podcast .podcast-grid a
  float left;
  margin-top -3px;
  margin-left 20px;
  cursor pointer;
  height 250px;
  position relative;
  top -10px;
  opacity 0;
  transition opacity 1s, top 0.5s;
.podcast-grid .podcast-item.in
  top 0px;
  opacity 1;
.podcast-grid .podcast-item.out
  top -10px;
  opacity 0;
.podcast .podcast-grid a figure
  text-align center;
  background #333;
.podcasts-image-conteiner
  width 150px;
  height 150px;
  overflow hidden;
  margin 0 auto;
.podcast .podcast-grid a hr
  padding 2px;
  margin 0px;
.podcast-information-container
  width: 100%;
  text-overflow: ellipsis;
  word-spacing: break-all;
  white-space: nowrap;
  text-align left;
  padding 5px 10px;
.podcast .podcast-grid ahover,
.podcast .podcast-grid aactive
  text-decoration none;
.podcast-information-container strong
  color #D0D0D0;
  font-weight 100 !important;
  display block;
  height 49px;
  overflow hidden;
  text-overflow ellipsis
.podcast .podcast-grid-close
  height 900px;
  overflow auto;
figure.podcast-mini-player
  margin-top 25px;
  transition all 1s;
  -webkit-transition all 1s;
figure.podcast-mini-player img
  width 100%;
  transition all 1s;
  -webkit-transition all 1s;
.podcast-full-expanded
  opacity 0;
  display none;
  transition opacity 1s;
  -webkit-transition opacity 1s;
  transition all 1s;
  -webkit-transition all 1s;
.minipodcast-information

.minipodcast-information a
  position absolute;
  right 120px;
  top 0px;
  text-align center;
  cursor pointer;
  z-index 9999;
  padding 21% 0;
.player-section a i
  font-size 25px;
  color white;
  padding 10px;
  border-radius 25px;
  -webkit-border-radius 25px;
  -moz-border-radius 25px;
  -o-border-radius 25px;
  background rgba(255,255,255,0.5);
  position absolute;
  right 130px;
  top 126px;
.minipodcast-information h4
  width 100%;
  position relative;
  top 15px;
  color #D0D0D0;
  text-align center;
.podcast-player-open

.podcast-player-open .podcast-mini-player .minipodcast-information h4
  color #FFF;
  font-size 32px;
  font-weight bold;
  text-align left;
.podcast-player-open .podcast-mini-player

#podcast-equalizer
  height248px;
.podcast-player-open .podcast-mini-player img
  width 49%;
  float left;
  margin-right 1%;
  max-height302px;
  overflow hidden;
#equalizer-podcast-one
  transition opacity 4s;
  -webkit-transition opacity 4s;
  opacity 0;
  display none;
.podcast-player-open .podcast-mini-player #equalizer-podcast-one
  opacity 1;
  display block;

.podcast-player-open .podcast-mini-player #equalizer-podcast-one
  width 50% !important;
  float left;
.podcast-player
  float left;
  transition width 1s, padding 1s, opacity 2s;
  -webkit-transition width 1s, padding 1s, opacity 2s;
  padding-left 0px !important;
  background #333332;
  height 900px;
.podcast-player .close-arrow

.podcast-player .close-arrow img
  width 25px;
  height 136px;
  position absolute;
  left 100%;
  top 35%;
  z-index 9999;
.podcast-player-open

  padding-top 3%;
  padding-bottom 10%;
  opacity 1;
.podcast-player .podcast-player-inset
  height 250px;
.podcast-player .podcast-player-inset img
  float left;
  padding 11px 4px;
  border-radius 20px;
  -moz-border-radius 20px;
  -webkit-border-radius 20px;
  -o-border-radius 20px;
#equalizer-podcast-one
  width 250px;
  height 300px;
  float left;
.podcast-player .podcast-player-inset progress
  width 100%;
  font-size 5px;
.podcast-player .podcast-information h1
  color white;
  font-size 36px;
.podcast-player .podcast-information h1 strong
  color #939292;
  font-size 14px;
  display block;
  width 100%;
.podcast-player .podcast-information p
  color #D0D0D0;
.podcast-progress
  margin-top15px;
  background #A4FF9F !important;
  border none !important;
  padding 1px 1px !important;
  height 5px !important;
  position relative;
  top 12px;
.podcast-description
  padding-top 25px;
.podcast-description p
  color #D0D0D0;
  font-size 14px;
.podcastGridItem
  height 200px !important
  text-align center
  background #333
  margin-left: 18px;
.podcastGridItemContainer
  margin-bottom 15px
.selectize-control
  text-align center
.cat-select
  padding-left 30px !important
  padding-right 30px !important
