.empresa
  flex 4
  -webkit-flex 4
.empresa-noticias
  background #383F4C
  height 1370px
  padding-top 30px
.empresa-noticias h2
  color #E6E6E6
.empresa-interes-item
  cursor pointer
  background #FFF
  margin-top 20px
  height 113px
  overflow hidden
  padding-left 0px
.empresa-interes-item figure
  padding 0px
.empresa-interes-item figure img
  width 100%
.empresa-interes-item div
  padding 0px 5px
.empresa-interes-item div > span
  display block
  width 100%
  font-size 12px
  padding-top 10px
  font-weight bold
.empresa-interes-item div > strong
  display block
  width 100%
  font-size 16px
  color #0066AC
  line-height 17px
  height 75px
  overflow hidden
.empresa-interes-item div > p
  display block
  width 100%
  font-size 12px
  line-height 11px
  padding-top 3px
#empresa-slider
  padding 0 25px
#empresa-slider .carousel-inner
  background #383F4C
  border-radius 10px
#empresa-slider .image-item
  height 300px
  overflow hidden
#empresa-slider .image-item img
  width 100%
#empresa-slider .left.carousel-control
  background none
  opacity 1
#empresa-slider .left.carousel-control img
  position absolute
  left 2px
  top 4em
#empresa-slider .right.carousel-control
  background none
  opacity 1
#empresa-slider .right.carousel-control img
  position absolute
  left 40px
  top 4em
