.navbar
  height 90px
.menu-principal
  width 38%
  height 100%
.menu-principal a
  display inline-block
  text-decoration none
  color rgb(255, 255, 255)
  font-size 20px
  font-weight lighter
  padding 31px 3%
.yellow-bars
  position absolute
  top 83px
  transition all 0.5s
  -webkit-transition all 0.5s
.logo-display
  display inline
.logo-hide
  display none
.menu-colaborador
  position absolute
  top -112px
  left 360px
  width 393px
.menu-colaborador a
  display inline-block
  text-decoration none
  color rgb(255, 255, 255)
  font-size 18px
  font-weight lighter
  padding 31px 2%
.logo-colaborador
  position absolute
  top -112px
.triangle-left-default
  display none
#triangle-left
  height 0
  border-left 110px solid transparent
  position absolute
  z-index 2
  right 0
  width: 960px
  @media screen and (min-width: 1350px)
    width: 1190px
.triangle-grupo
  border-top 130px solid rgb(139, 196, 63)
.triangle-medicina
  border-top 130px solid rgb(0, 102, 177)
.triangle-corredores
  border-top 130px solid rgb(245, 128, 32)
.triangle-eps
  border-top 130px solid rgb(0, 102, 177)
.triangle-banco
  border-top 130px solid rgb(200, 36, 43)
.triangle-recreacion
  border-top 130px solid rgb(196, 21, 140)

