<style>

</style>
<header class="container-fluid no-padding navbar no-border header-default">
  <div class="container coomeva-container no-padding ">
    <div id="triangle-left" class="{{navCtrl.headerClass}}">
      <img src="./assets/img/logos_colaboradores/{{navCtrl.headerLogo}}" alt="" class="logo-colaborador" style="{{navCtrl.headerLogoWidth}}">
      <div class="menu-colaborador">
        <a id="colab-home" ui-sref="home" ng-click="navCtrl.changeState($event)" ng-mouseover="navCtrl.hoverMenu($event)">Inicio</a>
        <a id="colab-podcast" ui-sref="podcast" ng-click="navCtrl.changeState($event)" ng-mouseover="navCtrl.hoverMenu($event)">Podcasts</a>
        <a id="colab-programas" ui-sref="programs" ng-click="navCtrl.changeState($event)" ng-mouseover="navCtrl.hoverMenu($event)">Programas</a>
        <a id="colab-colaboradores" ui-sref="colaboradores" ng-click="navCtrl.changeState($event)" ng-mouseover="navCtrl.hoverMenu($event)">Colaboradores</a>
        <img class="yellow-bars" id="yellow-bar2" src="./assets/img/menuActive.jpg" alt="" style="left: {{navCtrl.barSetItemPosition-943}}px; width: {{navCtrl.barSetWidth}}px;height:7px;" />
      </div>
    </div>


    <a ui-sref="home">
    <img src="./assets/img/headerlogo.png" alt="" ></a>
    <div class="menu-principal pull-right" ng-class="navCtrl.principalNavShow ? '' : 'hide'" >
      <a id="nav-home" ui-sref="home" ng-click="navCtrl.changeState($event)" ng-mouseover="navCtrl.hoverMenu($event)">Inicio</a>
      <a id="nav-podcast" ui-sref="podcast" ng-click="navCtrl.changeState($event)" ng-mouseover="navCtrl.hoverMenu($event)">Podcasts</a>
      <a id="nav-programas" ui-sref="programs" ng-click="navCtrl.changeState($event)" ng-mouseover="navCtrl.hoverMenu($event)">Programas</a>
      <a id="nav-colaboradores" ui-sref="colaboradores" ng-click="navCtrl.changeState($event)" ng-mouseover="navCtrl.hoverMenu($event)">Colaboradores</a>
      <img class="yellow-bars" id="yellow-bar" src="./assets/img/menuActive.jpg" alt="" style="left: {{navCtrl.barSetItemPosition}}px; width: {{navCtrl.barSetWidth}}px;height:7px;" />
    </div>
  </div>
</header>
