.navbar
  height: 90px;
.menu-principal
  width: 60%;
  height:100%
.menu-principal a
  display inline-block
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: lighter;
  padding: 31px 3%;
#yellow-bar
  position: absolute;
  top: 82px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
