.coomeva-footer
  background rgb(51,51,50)
  padding-top 30px
  padding-bottom 30px
.comunicacion-footer
  background rgb(0, 126, 86)
  padding-top 30px
  padding-bottom 30px
.footbar a
  text-decoration: none;
  color: rgb(139, 184, 31);
  font-style: italic;
  cursor: pointer;
.footer-icon
  width: 50px;
  /*
.footbar
  position: absolute;
  width: 100%;
  bottom: 0;
  */
.footer-line-middle
  padding-top 13px
