<footer class="container-fluid no-padding footbar">
  <div class="coomeva-footer">
    <div class="container coomeva-container no-padding">
      <div class="col-md-3">
        <h4>Nuestro Equipo</h4>
        <p>Radio Coomeva es una propuesta fresca y variada de radio en Internet que no está sólo pensada para las personas asociadas o relacionadas con Coomeva, sino también para quienes buscan la compañía
          de excelente música y quieren dejarse sorprender con interesantes contenidos de audio entregados en podcast.
        </p>
      </div>
      <div class="col-md-3">
        <h4>Empresas Coomeva</h4>
        <p>Coomeva te facilita la vida, por eso te invitamos a que conozcas todos nuestros servicios:</p>
        <ul class="list-unstyled">
          <li><a ui-sref="#">Coomeva EPS</a></li>
          <li><a ui-sref="#">Bancoomeva</a></li>
          <li><a ui-sref="#">Coomeva Solidaridad y Seguros</a></li>
          <li><a ui-sref="#">Coomeva Recreación y Cultura</a></li>
          <li><a ui-sref="#">Club los Andes</a></li>
          <li><a ui-sref="#">Coomeva Turismo y Agencia de Viajes</a></li>
          <li><a ui-sref="#">Coomeva Hoteles y Resorts</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Tags</h4>
      </div>
      <div class="col-md-3">
        <h4>Contácto</h4>
        <p>Para conocer más acerca de nosotros, puedes ingresas al menú Nosotros, y para conocer más acerca de
          otros servicios que Coomeva ofrece, puedes ingresar en el menú a Coomeva. En caso de cualquier comentario,
          inquietud o sugerencia, puedes escribirnos al correo electrónico: <br />
          <a href="#">soporte@coomeva.com.co</a><br /><br />
          ó comunicarse al siguiente número:
          <a href="#">(+57) 092 545-5654</a>
      </div>
  </div>
  </div>
  <div class="comunicacion-footer">
    <div class="container coomeva-container no-padding">
      <div class="col-md-3">
        Dieño y desarrollo por:
        <img src="./assets/img/logo_transparent.png" alt="" />
      </div>
      <div class="col-md-6 footer-line-middle text-center">
        @Copyright 2012-2016 - Todos los derechos reservados Radio Coomeva.
      </div>
      <div class="col-md-3 text-right">
        Siguenos en <img src="./assets/img/icon-facebook.jpg" alt="" class="footer-icon"> <img src="./assets/img/icon-twitter.jpg" alt="" class="footer-icon">
      </div>
  </div>

</footer>
