.program-player
  background #333
  padding-top 15px
.videogular-container
  overflow hidden
.programs .program-player h2
  color #FFF
  font-size 32px
  font-weight bold
  text-align left
.programs .program-player h1 strong
  width 100%
  display block
  color #D0D0D0
  font-size 16px
.program-episodes
  margin-top15px
.program-information
  min-height 30px
  color #D0D0D0
  font-size 14px
  font-weight 100
  text-shadow none
  line-height 1.6
.programs-list
  background #333
  height 100%
  margin-left 15px
  margin-right -15px
  padding-right 0px
.programs-list .program
  padding 15px 0px
  margin-top 0px
  cursor pointer
  border-top 1px solid #fff
  color #D0D0D0
.programs-list .program-active
  background-color #252525
.programs-list > .rower
  margin-right 0px !important
.programs-list .program img
  width 100%
.programs-list .program h4
  font-weight bold
.program-episodes .episode
  margin-top 25px
  background #FFF
.program-episodes .episode-active
  background #bbb
.program-episodes .episode figure img
  width 100%
.program-episodes .episode .episode-information
  padding-top 15px
.program-episodes .episode .episode-information strong
  width 100%
  display block
  font-size 18px
.program-episodes .episode .episode-information p
  font-size 14px
.program-episodes .episode .episode-information span
  width 100%
  display block
  font-size 18px
  color #939292
.playButton
  position absolute
  top 7em
  left 16em
  background rgba(255, 255, 255, 0.5)
  z-index 9
  padding 12px 15px
  border-radius 25px
.program-playButton
  position absolute
  top 8%
  left 8%
.playButton-reverse
  background rgba(0, 0, 0, 0.6)
.episode-playButton
  position absolute
  top 40%
  left 40%
